@{
    AdoptionListing listing = (AdoptionListing)ViewData["listing"];
    string acceptance = (string) ViewData["reject"];
    string request = (string) ViewData["description"];
}

<form method="post">
    <div class="container backgroundWhite">
        <div class="card" style="text-overflow:ellipsis; overflow:hidden">
            <div class="card-header bg-light text-light ml-0 row container">
                <div class="col-12 col-md-6 text-left text-md-left">
                    <h1 class="text-primary"><b style="color: #012169">Adopt @listing.Name</b></h1>
                </div>
                <div class="col-12 col-md-6 text-left text-md-right pt-2">
                    <p class="card-title h5">
                        <span class="badge badge-pill badge-primary pt-2" style="height:30px; width:130px">@listing.ApplicationStatus</span>
                    </p>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <div class="row">
                                <div class="col-12 col-md-12 pb-1">
                                    <div class="row pl-2">
                                        <h2 class="text-muted">@acceptance </h2>
                                    </div>
                                    <br />
                                    @if (request != null)
                                    {
                                        <div class="row pl-2">
                                            <h5 class="text-muted">Request: @request</h5>
                                        </div>
                                    }
                                    <br />
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Species: @listing.Species</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Breed: @listing.Breed1</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Age: @listing.Age years old</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Color: @listing.Color1</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Fur length: @listing.FurLength</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Maturity size: @listing.MaturitySize</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-12 pb-1 text-center">
                        <a asp-action="Index" class="btn btn-primary btn-square btn-lg" style="height:50px;">Back to Listing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
