@{
    AdoptionListing listing = (AdoptionListing)ViewData["listing"];
    string val = "~/videos/" + (string)listing.Video;
}

<form method="post">
    <div class="container backgroundWhite">
        <div class="card">
            <div class="card-header bg-light text-light ml-0 row container">
                <div class="col-12 col-md-6">
                    <h1 class="text-primary">@listing.Name</h1>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-8 col-lg-8">
                            <div class="col-12 col-lg-3 offset-lg-1 text-center">
                                <video style="height:500px;" controls>
                                    <source src="@Url.Content(@val)" type="video/mp4" />
                                </video>
                            </div>
                            <br />
                            <div class="row pl-2">
                                <h5 class="text-muted">Species: @listing.Species</h5>
                            </div>
                            <div class="row pl-2">
                                <h5 class="text-muted">Breed: @listing.Breed1</h5>
                            </div>
                            <div class="row pl-2">
                                <h5 class="text-muted">Age: @listing.Age</h5>
                            </div>
                            <div class="row pl-2">
                                <h5 class="text-muted">Color: @listing.Color1</h5>
                            </div>
                            <div class="row pl-2">
                                <h5 class="text-muted">Fur Length: @listing.FurLength</h5>
                            </div>
                            <div class="row pl-2">
                                <h5 class="text-muted">Maturity size: @listing.MaturitySize</h5>
                            </div>
                            <div class="row pl-2">
                                <h5 class="text-muted">Quantity represented: @listing.QuantityRepresented</h5>
                            </div>
                            <div class="row pl-2">
                                <h5 class="text-muted">Fee: @listing.Fee</h5>
                            </div>
                            <div class="row pl-2">
                                <h5 class="text-muted">Vaccinated: @listing.Vaccinated</h5>
                            </div>
                            <div class="row pl-2">
                                <h5 class="text-muted">Sterilised: @listing.Sterilized</h5>
                            </div>
                            <div class="row pl-2">
                                <h5 class="text-muted">Dewormed: @listing.Dewormed</h5>
                            </div>
                            <div class="row pl-2">
                                <h5 class="text-muted">Health Condition: @listing.Health</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <a asp-action="Index" class="btn btn-success form-control  btn-square btn-lg" style="height:50px;">Back to List</a>
                    </div>
                    <div class="col-12 col-md-6 pb-1">
                        <button type="submit" value="Apply Adoption" class="btn btn-primary btn-square btn-lg form-control" style="height:50px;">Apply Adoption</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
