@{
    AdoptionListing listing = (AdoptionListing)ViewData["listing"];
    string val = "~/videos/" + (string)listing.Video;
}

<form method="post">
    <div class="container backgroundWhite">
        <div class="card" style="text-overflow: ellipsis; overflow: hidden;">
            <div class="card-header bg-light text-light ml-0 row container">
                <div class="col-12 col-md-6 text-left text-md-left">
                    <h1 class="text-primary"><b style="color: #012169">About @listing.Name</b></h1>
                </div>
                <div class="col-12 col-md-6 text-left text-md-right pt-2">
                    <p class="card-title h5">
                        <span class="badge badge-pill badge-primary pt-2" style="height:30px; width:100px">@listing.ApplicationStatus</span>
                    </p>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <div class="row" style="padding-bottom:25px">
                                <div class="col-12 col-md-12">
                                    <div class="row text-center">
                                        <video style="width:100%;" controls>
                                            <source src="@Url.Content(@val)" type="video/mp4" />
                                        </video>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-12 col-md-6 pb-1">
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Species: @listing.Species</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Breed: @listing.Breed1</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Age: @listing.Age years old</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Color: @listing.Color1</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Fur length: @listing.FurLength</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Maturity size: @listing.MaturitySize</h5>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 pb-1">
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Health condition: @listing.Health</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Vaccinated: @listing.Vaccinated</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Sterilised: @listing.Sterilized</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Dewormed: @listing.Dewormed</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Quantity represented: @listing.QuantityRepresented</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Fee: SGD @listing.Fee</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <a asp-action="Index" class="btn btn-primary form-control  btn-square btn-lg" style="height:50px;">Back to Listing</a>
                    </div>
                    <div class="col-12 col-md-6 pb-1" >
                        <button type="submit" asp-action="Application" asp-route-id="@listing.AdoptionListingID" value="Apply Adoption" class="btn btn-primary btn-square btn-lg form-control" style="height:50px;">Apply Adoption</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
