@{
    AdoptionListing listing = (AdoptionListing)ViewData["listing"];
    string val = "~/videos/" + (string)listing.Video;
}

<br />
<form method="post">
    <div class="container pt-4">
        <div style="text-overflow: ellipsis; overflow: hidden;">
            <div class="row">
                <div class="col-12 col-md-6 text-left text-md-left">
                    <h1 class="primary-color font-roboto"><b>About @listing.Name</b></h1>
                </div>
                <br />
                <div class="col-12 col-md-6 text-left text-md-right pt-2">
                    <p class="card-title h5 font-roboto">
                        <span class="badge badge-pill badge-primary pt-2" style="height:30px; width:130px">@listing.ApplicationStatus</span>
                    </p>
                </div>
            </div>
            <br />
            <div>
                <div class="container p-2">
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <div class="row" style="padding-bottom:25px">
                                <div class="col-12 col-md-12">
                                    <div class="row text-center">
                                        <video style="width:100%;" controls>
                                            <source src="@Url.Content(@val)" type="video/mp4" />
                                        </video>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-12 col-md-6 pb-1">
                                    <div class="row pl-2">
                                        <h5 class="font-roboto">Species: @listing.Species</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="font-roboto">Breed: @listing.Breed1</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="font-roboto">Age: @listing.Age years old</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="font-roboto">Color: @listing.Color1</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="font-roboto">Fur length: @listing.FurLength</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="font-roboto">Maturity size: @listing.MaturitySize</h5>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 pb-1">
                                    <div class="row pl-2">
                                        <h5 class="font-roboto">Health condition: @listing.Health</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="font-roboto">Vaccinated: @listing.Vaccinated</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="font-roboto">Sterilised: @listing.Sterilized</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="font-roboto">Dewormed: @listing.Dewormed</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="font-roboto">Quantity represented: @listing.QuantityRepresented</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="font-roboto">Fee: SGD @listing.Fee</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div>
                <div class="row">
                    <div class="col-12 col-md-6 pb-1 text-left font-roboto">
                        <a asp-action="Index" class="details-button btn btn-primary form-control btn-square btn-lg" style="height:50px;"><b>Back to Listing</b></a>
                    </div>
                    <div class="col-12 col-md-6 pb-1 text-right font-roboto">
                        <button type="submit" asp-action="Application" asp-route-id="@listing.AdoptionListingID" value="Apply Adoption" class="details-button btn btn-primary form-control btn-square btn-lg" style="height:50px;"><b>Apply Adoption</b></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<br />
