@model IEnumerable<AdoptionListing>

<div class="container pt-3">
    <div>
        <h1 class="primary-color font-roboto"><b>Adoption</b></h1>
        <h4 class="primary-color font-roboto">Find your new best friend.</h4>
    </div>
    <br />
    <div class="text-left">
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="all">All Species</button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Species.Dog">
            @Species.Dog
        </button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Species.Cat">
            @Species.Cat
        </button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Species.Others">
            @Species.Others
        </button>
    </div>
    <br />
    <div class="text-left">
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="all">All Breeds</button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Breed.Affenpinscher">
            @Breed.Affenpinscher
        </button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Breed.AfghanHound">
            @Breed.AfghanHound
        </button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Breed.AiredaleTerrier">
            @Breed.AiredaleTerrier
        </button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Breed.Akbash">
            @Breed.Akbash
        </button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Breed.Akita">
            @Breed.Akita
        </button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Breed.AlaskanMalamute">
            @Breed.AlaskanMalamute
        </button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Breed.AmericanBulldog">
            @Breed.AmericanBulldog
        </button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Breed.AmericanEskimoDog">
            @Breed.AmericanEskimoDog
        </button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Breed.AmericanHairlessTerrier">
            @Breed.AmericanHairlessTerrier
        </button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Breed.AmericanStaffordshireTerrier">
            @Breed.AmericanStaffordshireTerrier
        </button>
    </div>
    <br />
    <div class="text-left">
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="all">All Colors</button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Color.Black">
            @Color.Black
        </button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Color.Brown">
            @Color.Brown
        </button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Color.Cream">
            @Color.Cream
        </button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Color.Golden">
            @Color.Golden
        </button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Color.Gray">
            @Color.Gray
        </button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Color.White">
            @Color.White
        </button>
        <button class="btn btn-outline-primary filter-button mb-2" data-filter="@Color.Yellow">
            @Color.Yellow
        </button>
    </div>
    <br />
    <div class="row pb-3 backgroundWhite">
        @foreach (var listing in Model)
        {
            <div class="col-lg-3 col-md-6 filter @listing.Species filter @listing.Breed1 filter @listing.Color1">
                <div class="row p-2">
                    <div class="col-12 p-1" style="border: 0px solid #0064a4; border-radius: 5px; ">
                        <div class="card" style="border:0px;">
                            @if (listing.Image != null)
                            {
                                <img src="~/images/@listing.Image" class="card-img-top rounded" />
                            }
                            else
                            {
                                <img src="~/images/noimage2.png" class="card-img-top rounded" />
                            }
                            <div class="pl-1">
                                <br />
                                <p class="card-title h5 primary-color font-roboto">
                                    <b>@listing.Name</b>
                                    <span class="badge badge-pill badge-primary pt-2" style="height:30px; width:80px">@listing.ApplicationStatus</span>
                                </p>
                            </div>
                            <div style="padding-left:5px;">
                                <p class="font-roboto">
                                    @listing.Breed1
                                    <br />
                                    Color: @listing.Color1
                                    <br />
                                    Age: @listing.Age years old
                                </p>
                            </div>
                        </div>
                        <div class="text-right font-roboto">
                            <a asp-action="Details" class="btn btn-primary form-control details-button" asp-route-id="@listing.AdoptionListingID"><b>Details</b></a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {
                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }

                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');
                }
            });
        });
    </script> }

