@{
    AdoptionRequest request = (AdoptionRequest)ViewData["request"];
    User user = (User)ViewData["user"];
}

<br />
<form asp-action="Details">
    <div class="container pt-4">
        <div style="text-overflow: ellipsis; overflow: hidden;">
            <div class="row">
                <div class="col-12 col-md-6 text-left text-md-left">
                    <h1 class="primary-color font-roboto"><b>Adopt @request.AdoptionListing.Name</b></h1>
                </div>
                <br />
                <div class="col-12 col-md-6 text-md-right text-left pt-2">
                    <p class="card-title h5 font-roboto">
                        <span class="badge badge-pill badge-primary pt-2" style="height:30px; width:130px">@request.AdoptionListing.ApplicationStatus</span>
                    </p>
                </div>
            </div>
            <br />
            <div>
                <div class="container p-2">
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <div class="row" style="padding-bottom:25px">
                                <div class="col-12 col-md-6 pb-1">
                                    <div class="row pl-3">
                                        <h5 class="font-roboto">Species: @request.AdoptionListing.Species</h5>
                                    </div>
                                    <div class="row pl-3">
                                        <h5 class="font-roboto">Breed: @request.AdoptionListing.Breed1</h5>
                                    </div>
                                    <div class="row pl-3">
                                        <h5 class="font-roboto">Age: @request.AdoptionListing.Age years old</h5>
                                    </div>
                                    <div class="row pl-3">
                                        <h5 class="font-roboto">Color: @request.AdoptionListing.Color1</h5>
                                    </div>
                                    <div class="row pl-3">
                                        <h5 class="font-roboto">Fur length: @request.AdoptionListing.FurLength</h5>
                                    </div>
                                    <div class="row pl-3">
                                        <h5 class="font-roboto">Maturity size: @request.AdoptionListing.MaturitySize</h5>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 pb-1">
                                    <div class="row pl-3">
                                        <h5 class="font-roboto">Health condition: @request.AdoptionListing.Health</h5>
                                    </div>
                                    <div class="row pl-3">
                                        <h5 class="font-roboto">Vaccinated: @request.AdoptionListing.Vaccinated</h5>
                                    </div>
                                    <div class="row pl-3">
                                        <h5 class="font-roboto">Sterilised: @request.AdoptionListing.Sterilized</h5>
                                    </div>
                                    <div class="row pl-3">
                                        <h5 class="font-roboto">Dewormed: @request.AdoptionListing.Dewormed</h5>
                                    </div>
                                    <div class="row pl-3">
                                        <h5 class="font-roboto">Quantity represented: @request.AdoptionListing.QuantityRepresented</h5>
                                    </div>
                                    <div class="row pl-3">
                                        <h5 class="font-roboto">Fee: SGD @request.AdoptionListing.Fee</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            @*Actual form*@
            <div>
                <div class="container p-2">
                    <div class="row">
                        <div class="col-12 col-lg-12 col-md-12">
                            <div class="row pl-2">
                                <h3 class="font-roboto primary-color"><b>Application Form</b></h3>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-12 pb-3 pt-3">
                                    <div class="row">
                                        <div class="col-12 col-md-6 pt-1 pt-md-3">
                                            <h5 class="font-roboto">Applicant Name:</h5>
                                        </div>
                                        <div class="col-12 col-md-6 pt-md-3">
                                            <h5 class="font-roboto">@user.Name</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 pt-1 pt-md-3">
                                            <h5 class="font-roboto">Applicant Phone Number:</h5>
                                        </div>
                                        <div class="col-12 col-md-6 pt-md-3">
                                            <h5 class="font-roboto">@user.PhoneNumber</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 pt-1 pt-md-3">
                                            <h5 class="font-roboto">Type of Residence:</h5>
                                        </div>
                                        <div class="col-12 col-md-6 pt-md-3">
                                            <h5 class="font-roboto">
                                                @request.residenceType
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 pt-1 pt-md-3">
                                            <h5 class="font-roboto">
                                                Number of @request.AdoptionListing.Species Owned:
                                            </h5>
                                        </div>
                                        <div class="col-12 col-md-6 pt-md-3">
                                            <h5 class="font-roboto">
                                                @request.dogsOwned
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 pt-1 pt-md-3">
                                            <h5 class="font-roboto">
                                                Tell us what adopting @request.AdoptionListing.Name would mean to you:
                                            </h5>
                                        </div>
                                        <div class="col-12 col-md-6 pt-md-3">
                                            <input type="text" class="form-control" id="description" name="description" style="width: 100%; height: 40px" value="@request.Description">
                                            <label for="description"></label>
                                        </div>
                                    </div>
                                    <div> <input type="hidden" id="requestId" name="requestId" value="@request.AdoptionRequestId"> </div>
                                    <div> <input type="hidden" id="listingId" name="listingId" value="@request.AdoptionListing.AdoptionListingID"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div>
                <div class="row">
                    <div class="col-12 col-md-6 pb-1 text-left font-roboto">
                        <a asp-action="Index" class="details-button btn btn-primary form-control btn-square btn-lg" style="height:50px;"><b>Back</b></a>
                    </div>
                    <div class="col-12 col-md-6 pb-1 text-right font-roboto">
                        <button type="submit" asp-action="UpdateAdoptionRequest" asp-controller="AdoptionRequest" value="Adoption Request" class="details-button btn btn-primary btn-square form-control btn-lg" style="height:50px;"><b>Update Request</b></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<br />

