@{
    AdoptionRequest request = (AdoptionRequest)ViewData["request"];
    User user = (User)ViewData["user"];
}

<form method="post" name="myForm" onsubmit="return ValidateForm()">
    <div class="container backgroundWhite">
        <div class="card" style="text-overflow: ellipsis; overflow: hidden;">
            <div class="card-header bg-light text-light ml-0 row container">
                <div class="col-12 col-md-6 text-left text-md-left">
                    <h1 class="text-primary"><b style="color: #012169">Adopt @request.AdoptionListing.Name</b></h1>
                </div>
                <div class="col-12 col-md-6 text-md-right text-left pt-2">
                    <p class="card-title h5">
                        <span class="badge badge-info pt-2" style="height:30px; width:100px">@request.AdoptionListing.ApplicationStatus</span>
                    </p>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row bg-light">
                        <div class="col-12 col-lg-12">
                            <div class="row">
                                <div class="col-12 col-md-6 pb-3 pt-3">
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Species: @request.AdoptionListing.Species</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Breed: @request.AdoptionListing.Breed1</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Age: @request.AdoptionListing.Age years old</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Color: @request.AdoptionListing.Color1</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Fur length: @request.AdoptionListing.FurLength</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Maturity size: @request.AdoptionListing.MaturitySize</h5>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 pb-3 pt-3">
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Health condition: @request.AdoptionListing.Health</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Vaccinated: @request.AdoptionListing.Vaccinated</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Sterilised: @request.AdoptionListing.Sterilized</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Dewormed: @request.AdoptionListing.Dewormed</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Quantity represented: @request.AdoptionListing.QuantityRepresented</h5>
                                    </div>
                                    <div class="row pl-2">
                                        <h5 class="text-muted">Fee: SGD @request.AdoptionListing.Fee</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Actual form*@
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row pl-2">
                        <h3 class="text-muted">Application Form</h3>
                    </div>
                    <div class="row bg-light">
                        <div class="col-12 col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-12 col-md-12 pb-3 pt-3">
                                    <div class="row pl-2">
                                        <div class="col-12 col-md-6 pt-1 pt-md-3">
                                            <h5 class="text-muted">Applicant Name:</h5>
                                        </div>
                                        <div class="col-12 col-md-6 pt-md-3">
                                            <h5 class="text-muted">@user.Name</h5>
                                        </div>
                                    </div>
                                    <div class="row pl-2">
                                        <div class="col-12 col-md-6 pt-1 pt-md-3">
                                            <h5 class="text-muted">
                                                Tell us what adopting @request.AdoptionListing.Name would mean to you:
                                            </h5>
                                        </div>
                                        <div class="col-12 col-md-6 pt-md-3">
                                            <input type="text" class="form-control" id="description" name="description" style="width: 100%; height: 40px" value="@request.Description">
                                            <label for="description"></label>
                                        </div>
                                    </div>
                                    <div> <input type="hidden" id="listingId" name="listingId" value="@request.AdoptionListing.AdoptionListingID"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <a asp-action="Details" asp-route-id="@request.AdoptionListing.AdoptionListingID" class="btn btn-success form-control  btn-square btn-lg" style="height:50px;">Back</a>
                    </div>
                    <div class="col-12 col-md-6 pb-1">
                        <button type="submit" asp-action="Update" onsubmit="return ValidateForm()" value="Adoption Request" class="btn btn-primary btn-square btn-lg form-control" style="height:50px;">Update Adoption</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="/js/ValidateAdoptionApplication.js"></script>
    <script>
        $(function () {
            var current = location.pathname;
            $('.nav-tabs li a').each(function () {
                var $this = $(this);
                if (current.indexOf($this.attr('href')) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>
}
