@model List<petrus.ViewModels.RequestDetailsViewModel>

<div class="container pt-3">
    <div>
        <h1 class="primary-color font-roboto"><b>My Adoption Request</b></h1>
    </div>
    <br />
    <br />

    @if (Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            <div style="text-overflow: ellipsis; overflow: hidden;">
                <div class="card ml-0 bg-gray-color" style="border: 0px solid #0064a4; border-radius: 5px;">
                    <div class="col-12 col-md-12 text-right py-2">
                        <h5 class="font-roboto primary-color"><b>Requested on: @item.AdoptionRequest.RequestDate</b></h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="d-md-block col-3 col-md-3">
                            @foreach (var details in item.AdoptionListing)
                            {
                                <img src="~/images/@details.Image" class="rounded" width="100%" />
                            }
                        </div>
                        <div class="col-9 col-md-9">
                            @foreach (var details in item.AdoptionListing)
                            {
                                <div class="row">
                                    <div class="col-12 col-md-6 text-left text-md-left">
                                        <h4 class="primary-color font-roboto"><b>@details.Name </b></h4>
                                    </div>
                                    <div class="col-12 col-md-6 text-right text-md-right">
                                        <p class="card-title h5 text-right font-roboto"><span class="badge badge-pill badge-primary pt-2" style="height:30px; width:130px">@item.AdoptionRequest.requestStatus</span></p>
                                    </div>
                                </div>
                                <h5 class="font-roboto">Species: @details.Species</h5>
                                <h5 class="font-roboto">Breed: @details.Breed1</h5>
                                <h5 class="font-roboto">Age: @details.Age years old</h5>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12 text-right font-roboto">
                            <a asp-controller="AdoptionRequest" asp-action="Details" asp-route-id="@item.AdoptionRequest.AdoptionRequestId" class="btn btn-primary details-button btn-square"><b>Details</b></a>
                            &nbsp;&nbsp;
                            <a asp-action="Delete" asp-route-id="@item.AdoptionRequest.AdoptionRequestId" onclick="return confirm('Are you sure you want to delete this request?')" class="btn btn-primary details-button btn-square"><b>Delete</b></a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        }
    }
</div>

