
@*﻿@model List<petrus.ViewModels.RequestDetailsViewModel>*@

<h1><b style="color: #2c3e50">My Adoption Requests</b></h1>

@if (Model.Count() > 0)
{
    @foreach (var item in Model)
    {
        <br />
        <div class="card" style="text-overflow: ellipsis; overflow: hidden;">
            <div class="card-header bg-light text-dark ml-0 row container-fluid">
                <div class="col-12 col-md-12 text-right py-2">
                    <h5>Requested on: @item.AdoptionRequest.RequestDate</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="d-md-block col-3 col-md-3">
                        @foreach (var details in item.AdoptionListing)
                        {
                            <img src="~/images/@details.Image" class="rounded" width="100%" />
                        }
                    </div>
                    <div class="col-9 col-md-9">
                        @foreach (var details in item.AdoptionListing)
                        {
                        <div class="row">
                            <div class="col-12 col-md-6 text-left text-md-left">
                                <h4><b style="color: #012169">@details.Name </b></h4>
                            </div>
                            <div class="col-12 col-md-6 text-right text-md-right">
                                <p class="card-title h5 text-right"><span class="badge badge-pill badge-primary pt-2" style="height:30px; width:100px">Status</span></p>
                            </div>
                        </div>
                            <h5>Species: @details.Species</h5>
                            <h5>Breed: @details.Breed1</h5>
                            <h5>Age: @details.Age years old</h5>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 text-right">
                        <a asp-controller="AdoptionRequest" asp-action="Details" asp-route-id="@item.AdoptionRequest." class="btn btn-outline-primary btn-square">Details</a>
                        &nbsp;&nbsp;
                        <a asp-action="Delete" asp-route-id="@item.AdoptionRequest.AdoptionRequestId" onclick="return confirm('Are you sure you want to delete this request?')" class="btn btn-outline-danger btn-square">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
}

