@model List<petrus.ViewModels.RequestDetailsViewModel>

<div>
    <h1><b style="color: #2c3e50">My Adoption Requests</b></h1>
</div>

<form method="post">
    @if (Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            <br />
            <div class="backgroundWhiteBorder">
                <div class="container">
                    <div class="card">
                        <div class="card-header bg-dark text-light ml-0 row container">
                            <div class="col-12 text-right">
                                <h5>Requested on: @item.AdoptionRequest.RequestDate</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="d-none d-lg-block col-lg-4 text-center py-2">
                                    @foreach (var details in item.AdoptionListing)
                                    {
                                        <img src="~/images/@details.Image" class="rounded" width="100%" />
                                    }

                                </div>
                                <div class="col-12 text-sm-center col-lg-6 text-lg-left">
                                    @foreach (var details in item.AdoptionListing)
                                    {
                                        <br />
                                        <a asp-controller="ApplyAdoption" asp-action="Details" asp-route-id="@details.AdoptionListingID"><h3>@details.Name</h3></a>
                                        <br />
                                        <h5>Species: @details.Species</h5>
                                        <h5>Breed: @details.Breed1</h5>
                                        <h5>Age: @details.Age years old</h5>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-12 pb-1 text-md-right">
                                    <a asp-controller="AdoptionRequest" asp-action="Details" asp-route-id="@item.AdoptionRequest." class="btn btn-primary btn-square btn-lg" style="height:50px;">Details</a>
                                    <a asp-action="Delete" asp-route-id="@item.AdoptionRequest.AdoptionRequestId" onclick="return confirm('Are you sure you want to delete this request?')" class="btn btn-danger btn-square btn-lg">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</form>

