@model IEnumerable<AdoptionListing>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container pt-3">
    <br />
    <div>
        <h1 class="primary-color font-roboto"><b>Your Adoption Listings</b></h1>
    </div>
    <br />
    <form method="post" name="myForm">
        <div class="table-responsive">
            <table class="table font-roboto">
                <thead class="thead-light">
                    <tr>
                        <th>Select</th>
                        <th>@Html.DisplayNameFor(model => model.Image)</th>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Age)</th>
                        <th>@Html.DisplayNameFor(model => model.Species)</th>
                        <th>@Html.DisplayNameFor(model => model.Breed1)</th>
                        <th>@Html.DisplayNameFor(model => model.Color1)</th>
                        <th>@Html.DisplayNameFor(model => model.AdoptionRequests.Count)</th>
                        <th>@Html.DisplayNameFor(model => model.ApplicationStatus)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var adoptionListing in Model)
                    {
                        <tr>
                            <td><input type="radio" id=@adoptionListing.AdoptionListingID name="selected" value=@adoptionListing.AdoptionListingID required></td>
                            <td>
                                <img src="~/images/@adoptionListing.Image"
                                     class="rounded-circle"
                                     height="40" width="40"
                                     asp-append-version="true" />
                            </td>
                            <td>@adoptionListing.Name</td>
                            <td>@adoptionListing.Age</td>
                            <td>@adoptionListing.Species.ToString()</td>
                            <td>@BreedExtensions.ToFriendlyString(adoptionListing.Breed1)</td>
                            <td>@adoptionListing.Color1.ToString()</td>
                            <td>@adoptionListing.AdoptionRequests.Count</td>
                            <td>@adoptionListing.ApplicationStatus</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        <p>
            <div class="row">
                <div class="col-12 col-md-12 pb-1 text-left font-roboto">
                    <a asp-action="New" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> Create</a>&nbsp;&nbsp;
                    <a id="removeitem" onclick="routeByCheckedBox(this.id)" href="/adoptionlisting/remove" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> Remove</a>&nbsp;&nbsp;
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12 col-md-12 pb-1 text-left font-roboto">
                    <a id="viewitem" onclick="routeByCheckedBox(this.id)" href="/adoptionlisting/viewmore" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> Listing Details</a>&nbsp;&nbsp;
                    <button type="submit" id="viewitem" asp-controller="AdoptionListing" asp-action="ViewRequests" value="Submit" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> View Adoption Requests</button>
                </div>
            </div>
        </p>
    </form>
</div>
<br />

@section scripts{
    <script src="~/js/adjustRoute.js"></script>
}
